

<div class="container">
    <div class="box">
        <a href="./index.html" class="signin-page">Головна</a>
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.5 15L12.5 10L7.5 5"
            stroke="#266294"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <a href="./signin.html" class="signin-page">Вхід</a>
      </div>
</div>
<section class="signin-section">
      <div class="container signin">
        <h2 class="signin__sign">Увійти</h2>
        <p class="signin__text">
          Увійдіть, щоб отримати можливість запропонувати своє житло
        </p>
  
        <div class="signin__checkbox">
          <label
            ><input type="checkbox" name="contact" value="phone" checked /> Номер
            телефону</label
          >
          <label
            ><input type="checkbox" name="contact" value="email" /> Email</label
          >
        </div>
  
        <div class="signin__login">
          <input
            class="signin__input"
            type="text"
            placeholder="Номер телефону*"
          />
        </div>
  
        <div class="signin__login">
          <input
            class="signin__input"
            type="password"
            placeholder="************"
          />
          <svg class="signin__svg">
            <use href="../../images/eye-off.svg#icon-eye"></use>
          </svg>
        </div>
  
        <a class="signin__fpassword" href="../../repair.html">Забули пароль?</a>
  
        <button class="signin__button">Увійти</button>
  
        <p class="signin__subtext">Або використовуйте</p>
        <ul class="signin__social">
          <li>
            <a href="/">
              <svg class="signin__google">
                <use href="../../images/google.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/">
              <svg class="signin__facebook">
                <use href="../../images/facebook.svg#icon-facebook-signin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/">
              <svg class="signin__twitter">
                <use href="../../images/twitter.svg##icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
  
        <p class="signin__subtext">Не маєте акаунту?</p>
        <a class="signin__register" href="../cabinet-page/personal-cabinet.html"
          >Зареєструйтесь</a
        >
      </div>
</section>

