<section class="create">
  <div class="container">
    <p class="create__location">Головна > Створити оголошення</p>
    <h1 class="create__title">Створити оголошення</h1>
    <div class="create__center">
      <ul class="create__list">
        <li class="create__item">
          <h3 class="create__input-title">Ваша країна</h3>
          <input class="create__input" type="text" name="country" placeholder="Введіть назву країни"/>
        </li>
        <li class="create__item">
          <h3 class="create__input-title">Вкажіть населений пункт</h3>
          <input class="create__input" type="text" name="city" placeholder="Населений пункт"/>
        </li>
        <li class="create__item">
          <h3 class="create__input-title">Вулиця, район міста</h3>
          <input class="create__input" type="text" name="street" placeholder="Наприклад, вул. Олімпійська, Південний район"/>
        </li>
      </ul>
      <h3 class="create__input-title">Вкажіть тип приміщення</h3>
      <ul class="create__list">
        <li class="create__item">
      <input class="create__checkbox" type="checkbox" name="house" />
    </li>
    <li class="create__item">
      <input class="create__checkbox" type="checkbox" name="flat" />
    </li>
    <li class="create__item">
      <input class="create__checkbox" type="checkbox" name="room" />
    </li>
    <li class="create__item">
      <input class="create__checkbox" type="checkbox" name="studio" />
    </li>
</ul>
      <h3 class="create__input-title">
        Вкажіть основні відомості про своє житло
      </h3>
      <ul class="create__list">
        <li class="create__item">
          <p class="create__text">Гості</p>
          <button type="button" class="create__button">
            <svg class="create__button-icon">
            <use href="./images/symbol-defs.svg#icon-arrow">
            </use>
          </svg>
        </button>
          <p class="create__number">1</p>
          <button type="button" class="create__button"></button>
        </li>
        <li class="create__item">
          <p class="create__text">Спальні</p>
          <button type="button" class="create__button"></button>
          <p class="create__number">1</p>
          <button type="button" class="create__button"></button>
        </li>
        <li class="create__item">
          <p class="create__text">Ліжка</p>
          <button type="button" class="create__button"></button>
          <p class="create__number">1</p>
          <button type="button" class="create__button"></button>
        </li>
        <li class="create__item">
          <p class="create__text">Ванні кімнати</p>
          <button type="button" class="create__button"></button>
          <p class="create__number">1</p>
          <button type="button" class="create__button"></button>
        </li>
      </ul>
      <h3 class="create__input-title">
        Запишіть особливості вашого приміщення
      </h3>
      <input type="text" name="comment" class="create__comment" />
      <h3 class="create__input-title">Завантажте фото</h3>
      <p class="create__photo-text">
        Щоб розпочати, потрібно зробити 5 фотографій. Згодом можна додати більше
        фото або внести необхідні зміни.
      </p>
      <input type="file" name="file" class="create__photo" />
      <h3 class="create__input-title">Вкажіть ваш емейл для підтвердження</h3>
      <input type="email" name="" class="create__input" placeholder="Введіть email"/>
      <button type="submit" class="create__button-submit">Підтвердити</button>
    </div>
  </div>
</section>
