.advertisement {
    display: none;

    @media screen and (min-width: 768px) {
        padding-bottom: 32px;
        padding-top: 48px;
        display: inherit
      }

      @media screen and (min-width: 1200px) {
        padding-top: 51px;
        padding-bottom: 68px;
      }


    &__list {
        @media screen and (min-width: 768px) {
            row-gap: 24px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;

          }

          @media screen and (min-width: 1200px) {
            row-gap: 36px;

          }

          
    
        
    }
    
    &__item {
        @media screen and (min-width: 768px) {
            width: 364px;
            height: 100%;
          }

          @media screen and (min-width: 1200px) {
            width: 630px;
            height: 100%;
          }
    }
    
    &__subtitle {
        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
            font-size: 32px;
            font-family: Play;
            font-size: 40px;
            line-height: 100%;
          }

          @media screen and (min-width: 1200px) {
            margin-bottom: 28px;
            font-size: 40px;
          }
    }
    
    &__name {
        @media screen and (min-width: 768px) {
            margin-top: 24px;
            text-align: center;
            font-size: 32px;
            line-height: 100%;
            font-weight: 400;
          }

          @media screen and (min-width: 1200px) {
            margin-top: 32px;
            font-weight: 700;
          }
    
    }
}

