<section class="order">
    <div class="container">
        <h1 class="order__title">Іспанія Мадрид</h1>
        <h2 class="order__subtitle">Однокімнатна квартира в центрі Мадриду</h2>
        <div class="order__price">
        <p class="order__text">Вартисть за три доби</p>
        <p class="order__minnprice">320$</p>
    </div>
    <div class="order__selected">
    <a class="order__link" href="/">Додати оголошення в обране</a>
    <button type="submit" class="order__button">Забронювати</button>
    <img src="" alt="">
    <ul class="order__list">
        <li class="order__iteam">
            <img src="" alt="">
        </li>
        <li class="order__iteam">
            <img src="" alt="">
        </li>
        <li class="order__iteam">
            <img src="" alt="">
        </li>
        <li class="order__iteam">
            <img src="" alt="">
        </li>
    </ul>
</div>
    </div>
</section>